.mirarpeli-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-iframe {
    width: 100%;
    height: 30vh;
    border: none;
}

@media screen and (min-width: 768px){
    .video-iframe {
        width: 100%;
        height: 100vh;
        border: none;
    }  
}